<igc-dockmanager #dock class="light-theme dock-m-position" [layout]="docLayout">
    <div slot="grid" igxOverlayOutlet style="height: 100%">
        <igx-grid #grid igxChartIntegration igxConditionalFormatting igxContextMenu primaryKey='id' displayDensity="compact" [data]="data">
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='id' [hidden]='true'></igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='category'  [width]="'110px'"></igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='type'  [filterable]='false' [width]="'130px'"></igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='country'  [width]="'100px'"></igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='price' dataType="number" [width]="'120px'" >
                <ng-template igxCell let-cell="cell">
                    <div class="finjs-icons">
                        <span>{{cell.value | currency:'USD':'symbol':'1.4-4'}}</span>
                    </div>
                </ng-template>
            </igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='startY' header ='Start(Y)' [width]="'100px'" dataType="number" [formatter]="formatCurrency">
            </igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='startYDiff' header ='Start(Y)Diff' dataType="number" [width]="'120px'" >
                <ng-template igxCell let-cell="cell">
                    <div class="finjs-icons">
                        <span>{{cell.value | number:'1.4-4'}}%</span>
                    </div>
                </ng-template>
            </igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='buy' [width]="'100px'" dataType="number" [formatter]="formatCurrency" >
            </igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='buyDiff' dataType="number" [width]="'120px'" >
                <ng-template igxCell let-cell="cell">
                    <div class="finjs-icons">
                        <span>{{cell.value | number:'1.4-4'}}%</span>
                    </div>
                </ng-template>
            </igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field ='highY' header='High(Y)' [width]="'100px'" dataType="number" [formatter]="formatCurrency"
                >
            </igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field ='highYDiff' header='High(Y)Diff' [width]="'120px'" dataType="number" [formatter]="formatCurrency"
                >
                <ng-template igxCell let-cell="cell">
                    <div class="finjs-icons">
                        <span>{{cell.value | currency:'USD':'symbol':'1.4-4'}}</span>
                    </div>
                </ng-template>
            </igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='openPrice' dataType="number" [formatter]="formatCurrency" 
                [width]="'130px'">
                <ng-template igxCell let-cell="cell">
                    <div class="finjs-icons">
                        <span>{{cell.value | currency:'USD':'symbol':'1.4-4'}}</span>
                    </div>
                </ng-template>
            </igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='openPriceDiff' dataType="number" [width]="'140px'" >
                <ng-template igxCell let-cell="cell">
                    <div class="finjs-icons">
                        <span>{{cell.value | number:'1.4-4'}}%</span>
                    </div>
                </ng-template>
            </igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='lowY' header='Low(Y)' [width]="'100px'" dataType="number" [formatter]="formatCurrency">
            </igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='lowYDiff' header='Low(Y)Diff' dataType="number" [width]="'120px'" >
                <ng-template igxCell let-cell="cell">
                    <div class="finjs-icons">
                        <span>{{cell.value | number:'1.4-4'}}%</span>
                    </div>
                </ng-template>
            </igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='highD' header='High(D)' [width]="'100px'" dataType="number" [headerClasses]="'headerAlignSyle'"
                 [formatter]="formatCurrency">
            </igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='highDDiff' header='High(D)Diff' dataType="number" [width]="'120px'" >
                <ng-template igxCell let-cell="cell">
                    <div class="finjs-icons">
                        <span>{{cell.value | number:'1.4-4'}}%</span>
                    </div>
                </ng-template>
            </igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='lowD' header='Low(D)' [width]="'100px'" dataType="number" [formatter]="formatCurrency"
                >
            </igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='lowDDiff' header='Low(D)Diff' dataType="number" [width]="'120px'" >
                <ng-template igxCell let-cell="cell">
                    <div class="finjs-icons">
                        <span>{{cell.value | number:'1.4-4'}}%</span>
                    </div>
                </ng-template>
            </igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='sell' [width]="'110px'" dataType="number" [formatter]="formatCurrency" >
            </igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='sellDiff' dataType="number" [width]="'120px'" >
                <ng-template igxCell let-cell="cell">
                    <div class="finjs-icons">
                        <span>{{cell.value | number:'1.4-4'}}%</span>
                    </div>
                </ng-template>
            </igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='region' ></igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='contract' ></igx-column>
            <igx-column [sortable]="true" [movable]="true" [disablePinning]="true" [disableHiding]="true" field='settlement' [width]="'150px'" ></igx-column>
        </igx-grid>
    </div>

    <div slot="chart-types-content" class="chart-types-container">
        <div *ngFor="let chartType of chartTypes">
            <div *ngIf="$any(allCharts |filterType:chartType)?.length > 0" class="wrapper">
                <div>{{chartType | titlecase}} Chart</div>
                <div class="types-section">
                    <div *ngFor="let chart of (allCharts | filterType: chartType); let i=index"
                        (click)="createChart(chart)"
                        title="{{chart | name}}" 
                        [ngClass]="{'disabled': allCharts.indexOf(chart) === -1, 'selected': chart | selectedChart: dock.layout: selectedCharts}"
                        style="width: 60px; margin-right: 20px; cursor: pointer; position: relative;">
                        <img src="assets/images/charts/{{chart}}.svg" />
                        <igx-badge *ngIf="selectedCharts[chart]" icon="check"></igx-badge>
                    </div>
                </div>
                <igx-divider></igx-divider>
            </div>
        </div>
    </div>

    <dock-slot  *ngFor="let chart of allCharts" [id]="chart">
    </dock-slot>
</igc-dockmanager>

<span *ngIf="contextmenu" class="analytics-btn" [ngStyle]="{'left.px': contextmenuX, 'top.px': contextmenuY}"
    (click)="toggleContextDialog(button)">
    <button #button igxIconButton="flat">
        <igx-icon #icon style="pointer-events: none;" class="icon" family="material">insert_chart_outlined</igx-icon>
    </button>
</span>

<ng-template #template>
    <span>Incompatible data</span>
</ng-template>